
#hero {
    background: url('../images/background.hero.png');
    background-position: top center;
    background-size: cover;
}

.section {
    padding: 10rem 0;
}

.card {
    min-height: 41rem;
    max-height: 41rem;
    overflow-y: auto;

    box-shadow: .25rem .25rem 1rem var(--bs-dark);
}
.card a {
    max-height: 25rem;
    overflow: hidden;
}

.border-windows98 {
    border-bottom: solid .5rem var(--bs-warning);
}
.bg-windows98 {
    background: #d4d0c8;
}
.titlebar-windows98 {
    border-top: 2rem solid #929292;
}